
.colorrr{
    color:white;
}
.form-search {
    display: inline-block;
    border-bottom: 1px solid white;
    width: 100%;
    padding: 5px 10px 5px 42px;
}
.form-search input {
    all: unset;
    
}
#image{

    width : 100%;
    height:250px;
}
p {
    margin-bottom: 16 px;
}