<div class="col-md-4">

    <div class="main1">

        <!-- --------------------------------------------------------------------------------------------------------- -->
        <div class="photo1">
            <h5>
                <a id="title" title="Посмотреть" routerLink="/news/{{item.id}}" target="_blank"> {{ item.title }}</a>
            </h5>
            <a title="Заказать на Aliexpress" routerLink="/products/{{item.id}}" target="_blank">
                <img class="photoSize" src="{{ item.image }}">
            </a>
        </div>
        <!-- <div class="context1">
            <p *ngIf="item.text">
                {{item.text}}
            </p>
        </div> -->
        <!-- --------------------------------------------------------------------------------------------------------- -->
        <div class="context1">

            <p *ngIf="item.likes">
                Likes: {{item.likes}}
            </p>
            <!-- --------------------------------------------------------------------------------------------------------- -->
            <p *ngIf="item.dislikes">
                Dislikes {{ item.dislikes }}
            </p>
            
        </div>
        <!-- --------------------------------------------------------------------------------------------------------- -->
    </div>

</div>