.navbar {  
    display: flex;
    justify-content: space-around;
    position: fixed;
    color: white;
    background-color: rgb(154, 63, 71);
    height:80px;
    width: 100%;
    z-index: 1000;
}
.navbar-brand, .navbar-toggler{
    margin-bottom: 5px;
    margin-left: 40px;
    font-size: 30px;
    color:white;
}
.sign-in {
    padding-right: 5%;
    float: right;
    font-size:20px;
    padding-top: 13px;
    }
.nav {
    min-width: 320px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    left: -320px;
    padding: 15px 20px;
    
    background: rgb(154, 63, 71);
}
.nav-toggle {
    position: absolute;
    left: 320px;
    padding: 0.3em;
    color: white;
    font-size: 1.2em;
}

.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}


[id='nav-toggle']:checked ~ .nav > .nav-toggle {
    left: auto;
    right: 2px;
    top: 1em;
}

[id='nav-toggle']:checked ~ .nav {
    left: 0;
    box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
}


[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
    content: '\2715';
}


.nav a {
    color: #dadada;
    text-decoration: none;
    text-transform: uppercase;
}


.nav > ul > li {
    line-height: 2.5;
}

.nav > ul > li > a{
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #dadada;
    width: 100%;
    text-decoration: none;
}
.nav-link{
   
    
    display: flex;
  flex-wrap: wrap;
  color: white;
  font-size:20px; 
  flex-direction: column;
  align-content: space-between;
}

.navbar {  
    position: fixed;
    color: white;
    background-color: rgb(154, 63, 71);
    height:80px;
    width: 100%;
    z-index: 1000;
}
.navbar-brand, .navbar-toggler{
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 40px;
    font-size: 30px;
    color:white;
}
.sign-in {
    padding-right: 5%;
    float: right;
    font-size:20px;
    padding-top: 13px;
    }
.nav {
    min-width: 320px;
    /* фиксируем и выставляем высоту панели на максимум */
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    /* сдвигаем (прячем) панель относительно левого края страницы */
    left: -320px;
    /* внутренние отступы */
    padding: 15px 20px;
    /* плавный переход смещения панели */
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    /* определяем цвет фона панели */
    background: rgb(154, 63, 71);
    /* поверх других элементов */
}
.nav-toggle {
    /* абсолютно позиционируем */
    position: absolute;
    /* относительно левого края панели */
    left: 320px;
    /* отступ от верхнего края панели */

    /* внутренние отступы */
    padding: 0.3em;
    /* определяем цвет фона переключателя
    * чаще вчего в соответствии с цветом фона панели
    */
    background: inherit;
    /* цвет текста */
    color: white;
    /* вид курсора */
    cursor: pointer;
    /* размер шрифта */
    font-size: 1.2em;
    line-height: 1.7;
    /* всегда поверх других элементов страницы */
    z-index: 2001;
    /* анимируем цвет текста при наведении */
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}

.nav-toggle:hover {
    color: #f4f4f4;
}

[id='nav-toggle']:checked ~ .nav > .nav-toggle {
    left: auto;
    right: 2px;
    top: 1em;
}

[id='nav-toggle']:checked ~ .nav {
    left: 0;
    box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
}

[id='nav-toggle']:checked ~ main > article {
    -webkit-transform: translateX(320px);
    -moz-transform: translateX(320px);
    transform: translateX(320px);
}

[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
    content: '\2715';
}

body{
    -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
    to {
        padding: 0;
    }
}


/**
* позаботьтимся о средних и маленьких экранах
* мобильных устройств
*/

@media screen and (min-width: 320px) {
    html,body {
        margin: 0;
        overflow-x: hidden;
}
}

@media screen and (max-width: 320px) {
    html,body  {
        margin: 0;
        overflow-x: hidden;
    }
    .nav {
        width: 100%;
        box-shadow: none
    }
}

.nav a {
    color: #dadada;
    text-decoration: none;
    text-transform: uppercase;
}

.nav > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav > ul > li {
    line-height: 2.5;
    opacity: 0;
}

[id='nav-toggle']:checked ~ .nav > ul > li {
    opacity: 1;
}

.nav > ul > li > a{
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #dadada;
    width: 100%;
    text-decoration: none;
    /* плавный переход */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}


/**
* состояние ссылок меню при наведении
*/

.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
    color: white;
    padding-left: 15px;
}


/**
* линия подчеркивания ссылок меню
*/

.nav > ul > li > a :before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    background: rgba(140, 207, 140, 0.76);
    width: 100%;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

.nav > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: rgba(140, 207, 140, 0.76);
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}


/**
* анимируем линию подчеркивания 
* ссылок при наведении
*/

.nav > ul > li > a:hover:before {
    width: 0%;
    background: #3bc1a0;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}

.nav > ul > li > a:hover:after {
    width: 0%;
    background: transparent;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

.nav-link{
    text-decoration: none;
    font-size:20px;
    color: white;
    position: static; 
    margin-right:40px;}